version: '3.8'

services:
  kafka:
    image: confluentinc/cp-kafka:7.8.3
    container_name: kafka
    ports:
      - "9092:9092"

    environment:
      KAFKA_KRAFT_MODE: 'true'

      CLUSTER_ID: '1L6g7nGhU-eAKfL--X25wo'
      KAFKA_NODE_ID: 1

      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER

      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs
    
    volumes:
      - kafka_kraft:/var/lib/kafka/data
  mysql:
    image: mysql
    container_name: mysql
    ports:
      - "3306:3306"
    environment:
            MYSQL_HOST: "mysql"
            MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
            MYSQL_USER: "user"
            MYSQL_PASSWORD: "password"
            MYSQL_DATABASE: "db"
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      interval: 15s
      timeout: 5s
      retries: 5
  api:
    build: ./api
    container_name: api
    ports:
      - "8000:8000"
    depends_on:
      mongo:
        condition: service_healthy
      mysql:
        condition: service_healthy
      consumer:
        condition: service_healthy
      producer:
        condition: service_healthy


  producer:
    build: ./producer
    container_name: producer
    ports:
      - "9092:9092"
    depends_on:
      mongo:
        condition: service_healthy
  consumer:
    build: ./consumer
    container_name: consumer
    ports:
      - "9092:9092"
    depends_on:
      mysql:
        condition: service_healthy
  mongo:
    image: mongo:7.0
    container_name: mongo
    ports:
     - "27017:27017"
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongo localhost:27017/ --quiet
      interval: 10s
      timeout: 5s
      retries: 5    
volumes:
  kafka_kraft: